body {
    font-family: 'Lato', sans-serif;
}

.form-container {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; 
    margin-top: 20px;
}



@media only screen and (min-width: 768px) {
    body{
        background-image: url('../images/bg_desktop.svg');
        display: flex;
        justify-content: space-around; 
        align-items: center; 
        height: 100vh; 
        width: 100vh;
        margin: 0; 
    }

    .promotion,
    .form-container {
        width: 45%; 
        padding: 20px;
        text-align: center; 
        box-sizing: border-box;
    }

    .grand-lancement {
        color: #917956;
        font-size: 50px;
        font-weight: 900;
    }

    .septembre {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 300;
    }

    .decouvrez {
        color: #FFFFFF;
        font-size: 28px;
        font-weight: 300; 
    }

    .mention-legale {
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 300; 
    }

    .inscrivez-vous {
        color: #000000;
        font-size: 41px;
        font-weight: 300;
    }

    .formulaire-texte {
        color: #000000;
        font-size: 16px;
        font-weight: 500; 
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="Ville"] {
        color: #696F6F;
        background-color: #F1F5F3;
        font-size: 16px;
        font-weight: italic;
    }

    input[type="time"],
    input[type="date"] {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 500; 
        color: #696F6F;
        background-color: #F1F5F3;
    }

    .asterisque {
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-weight: 500; 
    }

    .envoyer {
        color: #FFFFFF;
        background-color: #917956;
        font-size: 22px;
        border-radius: 25px;
        font-weight: 300; 
    }
}


@media only screen and (max-width: 767px) {
body{
    background-image: url('../images/bg_mobile.svg');
}
    .grand-lancement {
        color: #917956;
        font-size: 28px;
        font-weight: 900; 
    }

    .septembre {
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 300; 
    }

    .decouvrez {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 300; 
    }

    .mention-legale {
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 300; 
    }

    .inscrivez-vous {
        color: #000000;
        font-size: 25px;
        font-weight: 300; 
    }

    .formulaire-texte {
        color: #000000;
        font-size: 12px;
        font-weight: 500; 
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="date"],
    input[type="time"] {
        color: #696F6F;
        background-color: #F1F5F3;
        font-size: 12px;
        font-weight: italic;
    }

    .asterisque {
        font-family: 'Lato', sans-serif;
        font-size: 10px;
        font-weight: 500; 
    }

    .envoyer {
        color: #FFFFFF;
        background-color: #917956;
        font-size: 22px;
        border-radius: 25px;
        font-weight: 300; 
    }
}
